body {
  background-color: #ffffff;
  color: white;
}

a.App-link {
  color: #61dafb;
}

a.App-link:hover {
  color: #ccc;
}

button {
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
  color: #ccc;
}

/* body.dark {
  background-color: #333;
  color: rgb(25, 25, 25);
} */

body.dark a.App-link {
  color: #ddd;
}

body.dark a.App-link:hover {
  color: #aaa;
}

body.dark button {
  background-color: #555;
  color: #ddd;
}

body.dark button:hover {
  background-color: #666;
  color: #aaa;
}
